{% extends "base.html" %}
{% block title %}{{ photo.title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <img src="{{ photo.image.url }}" class="rounded shadow-sm photo-detail-img">
  </div>

  <div class="col-md-4">
    <h3>{{ photo.title }}</h3>
    <p class="text-muted">by {{ photo.uploaded_by.username }}</p>

    <p>{{ photo.description }}</p>

    <div class="mb-2">
      {% for tag in photo.tags.all %}
        <span class="badge bg-warning text-dark">{{ tag.name }}</span>
      {% endfor %}
    </div>

    {% if user.is_authenticated %}
      <form method="post" action="{% url 'toggle-like' photo.id %}">
        {% csrf_token %}
        <button class="btn btn-warning btn-sm">
          {% if user_liked %}
            Unlike
          {% else %}
            Like
          {% endif %}
        </button>
      </form>
    {% else %}
      <p class="text-muted small">Login to like photos.</p>
    {% endif %}


  </div>
</div>
{% endblock %}
