{% extends "base.html" %}
{% block title %}{{ photo.title }}{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <img src="{{ photo.image.url }}" class="img-fluid rounded shadow-sm">
  </div>

  <div class="col-md-4">
    <h3>{{ photo.title }}</h3>
    <p class="text-muted">by {{ photo.uploaded_by.username }}</p>

    <p>{{ photo.description }}</p>

    <div class="mb-2">
      {% for tag in photo.tags.all %}
        <span class="badge bg-warning text-dark">{{ tag.name }}</span>
      {% endfor %}
    </div>

    {% if user.is_authenticated %}
    <h6>Add to Album</h6>
    {% for album in user.album_set.all %}
        <a
        href="{% url 'add-to-album' album.id photo.id %}"
        class="btn btn-outline-warning btn-sm mb-1"
        >
        {{ album.name }}
        </a>
    {% endfor %}
    {% endif %}

  </div>
</div>
{% endblock %}
