{% extends "base.html" %}
{% block title %}Register{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-5">
    <div class="card shadow-sm">
      <div class="card-body">
        <h3 class="mb-3 text-center">Create Account</h3>

        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}

          <button class="btn btn-warning w-100">Register</button>
        </form>

        <p class="text-center mt-3 small">
          Already have an account?
          <a href="{% url 'login' %}">Login</a>
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
